.content {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 18.3% 18.3% 1fr;
  grid-gap: 40px;
  padding: 0 20px;
  width: 100%;
  height: calc(100vh - 99px);
}

@media (max-width: 1919px) {
  .content {
    gap: 20px;
  }
}

@media (max-width: 1439px) {
  .content {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
}
